.nav-bar {
    background-color: black;
    margin-top: -22px;
    padding-right: 50px;
    width: 300px;
}

.title {
    color:rgb(121, 108, 108);
    padding-left: 10px;
}

.selected {
    background-color: rgb(67, 61, 61)
}
.stationName {
    color: white;
    border-bottom: 1px white solid;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px; 
    margin-top: -16px;
}
