.train {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px black solid;
}

.main {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    margin-right: 20px;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

.top {
    font-weight: 800;
    margin-bottom: -4px;
}

.time {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.red {
    color: red;
}

.green {
    color: rgb(34, 185, 34)
}
.BLUE {
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: rgb(21, 100, 160);
    border: none;
    border-radius: 12px;
    padding: 0px 30px; 
    margin-right: 12px;
}

.GOLD {
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: gold;
    border: none;
    border-radius: 12px;
    padding: 0px 30px; 
    margin-right: 12px;
}

.RED {
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: rgb(210, 65, 65);
    border: none;
    border-radius: 12px;
    padding: 0px 30px; 
    margin-right: 12px;
}

.GREEN {
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: rgb(15, 94, 15);
    border: none;
    border-radius: 12px;
    padding: 0px 30px; 
    margin-right: 12px;
}
