.nav-bar {
    background-color: black;
    margin-top: -22px;
    padding-right: 50px;
    width: 300px;
}

.title {
    color:rgb(121, 108, 108);
    padding-left: 10px;
}

.stationName {
    color: white;
    border-bottom: 1px white solid;
    padding-bottom: 8px;
    padding-left: 30px; 
}